/* ------Font------ */
@font-face {
  font-family: irs;
  font-style: normal;
  font-weight: bold;
  src: url("../Fonts/iransans/IRANSans(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
  font-family: irs;
  font-style: normal;
  font-weight: 500;
  src: url("../Fonts/iransans/IRANSans(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: irs;
  font-style: normal;
  font-weight: 300;
  src: url("../Fonts/iransans/IRANSans(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: irs;
  font-style: normal;
  font-weight: 200;
  src: url("../Fonts/iransans/IRANSans(FaNum)_UltraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: irs;
  font-style: normal;
  font-weight: normal;
  src: url("../Fonts/iransans/IRANSans(FaNum).ttf") format("truetype");
}

@font-face {
  font-family: fonticon;
  font-family: fonticon;
  src: url("../Fonts/fonticon/fonticon.eot");
  src: url("../Fonts/fonticon/fonticon.eot?#iefix") format("embedded-opentype"),
    url("../Fonts/fonticon/fonticon.woff2") format("woff2"),
    url("../Fonts/fonticon/fonticon.woff") format("woff"),
    url("../Fonts/fonticon/fonticon.ttf") format("truetype");
}

/* ------End of Font------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'irs', sans-serif;
  direction: rtl;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
}

/* ------Header------ */

.header {
  height: 140px;
  background: #2d3a64;
  padding: 20px 0;
  margin-bottom: -21px;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
}

.menu__item {
  margin-left: 60px;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 0;
  font-size: 20px;
}

.logo {
  width: 92px;
}

.logo__img {
  width: 100%;
}

/* ------End of Header------ */

/* -----Tools------ */

.main {
  background: #f5f5f5;
  height: 700px;
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 0 100%); 
}

.tools {
  position: relative;
}

.measurement{
  padding-top: 190px;
  margin-right: 50px;
} 

.measurement__title {
  color: #0c0c0c;
  font-size: 50px;
}

.measurement__desc {
  font-size: 23px;
  color: #101010;
  width: 470px;
  line-height: 35px;
}

.measurement__btn {
  border-radius:  50px;
  background: #ee7e28;
  border: none;
  height: 60px;
  width: 190px;
  margin-top: 30px ;
  margin-left: 13px;
  cursor: pointer;
  font-weight: bold;
}

.measurement__link {
  text-decoration: none;
  color: #fefefe;
  font-size: 25px;
}

.metabolism {
  position: absolute;
  left: 0;
  top: 140px;
}

.metabolism__img {
  width: 600px;
}

/* ----End of Tools---- */
